<div class="container-fluid" ng-app="schoolApp">
	<div class="row">
		<div class="col-md-12" ng-controller="testController">
			<input type="text" ng-model="message" />
			<p>{{message}}</p>
		</div>
	</div>
</div>
